# /etc/systemd/system/gitrabbit.service
[Unit]
Description=gitRabbit
After=syslog.target
After=network.target

[Service]
User=gitrabbit
Type=simple
Restart=always
ExecStart=/usr/local/bin/gitrabbit -c /etc/gitrabbit/lapereaux.conf
KillSignal=SIGQUIT
LimitNOFILE=65535
StandardError=syslog
WorkingDirectory=/var/lib/gitrabbit/
Environment=USER=gitrabbit WORK_DIR=/var/lib/gitrabbit

[Install]
WantedBy=multi-user.target
